.city-card {
  margin: 30px 30px;
}

.city-card .ui.card > .content,
.ui.cards > .card > .content {
  text-align: left;
  height: 130px;
}
.city-card .ui.card {
  width: 100%;
}
.city-card .carousel-root {
  height: 190px;
}

.city-card .ui.card:hover {
  transform: scale(1.04);
  transition: 0.6s;
}
.city-card .carousel.carousel-slider .control-arrow {
  top: 40%;
  color: #000;
  font-size: 23px;
  bottom: 0;
  margin-top: 0;
  height: 35px;
  background: #fff;
  width: 35px;
  border-radius: 50%;
  padding: 5px;
  z-index: 111;
}
.city-card .carousel .control-next.control-arrow:before {
  border-left: 8px solid #000;
}
.city-card .carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000;
}
.city-card .content {
  color: #000;
  padding: 10px;
  min-height: 130px;
  text-align: left;
}

.city-card .image {
  max-height: 190px;
  object-fit: contain;
}

.city-card .ui.card > .image:not(.ui) > img,
.ui.cards > .card > .image:not(.ui) > img {
  border: none;
}
.city-card .carousel .slide img {
  height: 190px;
}
.carousel .carousel-status {
  top: 85% !important;
}

.city-card .header {
  display: flex;
  justify-content: space-between;
}
.city-card .content p {
  margin: 0 0 0.5rem;
}

.city-card .desc {
  min-height: 45px;
}
