.footer {
  background-color: #044290;
  text-align: center;
  margin-top: 40px;
  color: #fff;
}
.footer ul {
  list-style-type: none;
  padding-left: 0;
}
.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.foote_end {
  text-align: center;
  color: #fff;
  background-color: #00387f;
  padding: 10px;
}
