.contact_page {
  height: 100vh;
  margin: 50px 20px;
}
.contact {
  text-align: left;
  padding: 20px;
  box-shadow: 0 0 12px 2px lightgrey;
}
.contact .ui.form {
  font-size: 1rem;
  padding: 20px 0;
}
.contact_btn {
  background-color: #01afd1 !important;
  color: #fff !important;
}
