.contact {
  width: 60%;
  margin: 50px auto;
  text-align: left;
  padding: 20px;
  box-shadow: 0 0 12px 2px lightgrey;
}
.contact .ui.form {
  font-size: 1rem;
  padding: 20px 0;
}
.contact_btn {
  background-color: #0160d6 !important;
  color: #fff !important;
}
