.nav {
  /* border: 1px solid #e4e4e4; */
  overflow: hidden;
  background-color: #01afd1;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 777;
  border: none;
  color: #fff;
}
.nav .ui.secondary.menu {
  margin: 0 15px;
}
.ui.menu .item > .input input {
  border-radius: 20px !important;
}

.nav .ui.basic.black.button {
  color: #fff !important;
  box-shadow: 0 0 0 1px #fff inset !important;
}
.nav .ui.basic.black.button:hover {
  color: #fff !important;
  box-shadow: 0 0 0 1px #fff inset !important;
}

.ui.secondary.pointing.menu .active.item:hover {
  background-color: transparent;
  border-color: #01afd1 !important;
  color: #01afd1 !important;
}
.ui.secondary.pointing.menu .active.item {
  background-color: transparent;
  border-color: #01afd1 !important;
  color: #01afd1 !important;
}
.ui.secondary.pointing.menu a.item:active {
  background-color: transparent;
  border-color: none !important;
}

.nav .ui.small.image {
  width: 30%;
  height: auto;
}
.nav .ui.menu .menu {
  width: 100%;
}

.nav .ui.menu:not(.vertical) .right.menu {
  justify-content: end;
}
.sub-nav {
  margin-top: 60px;
  background-color: #fff;
}
.sub-nav .ui.menu .item {
  color: #000;
}

.sub-nav .ui.secondary.menu {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.nav .ui.menu:not(.vertical) > .menu {
  width: 100%;
}
/* .ui.menu:not(.vertical) .item {
  justify-content: end !important;
} */

/*media query*/

/* @media screen and (min-width: 768px) {
  .ui.menu:not(.vertical) .item > .input {
    left: 40% !important;
  }
} */
@media screen and (max-width: 768px) {
  .nav {
    color: #fff;
  }
  .nav .ui.menu:not(.vertical) .right.menu {
    text-align: center;
  }
  .sub-nav {
    margin-top: 190px;
  }

  .ui.stackable.menu .item {
    display: block !important;
    color: #000;
  }
  .ui.stackable.menu .item img {
    margin: 0 auto;
  }
  .ui.stackable.menu .item {
    width: auto;
  }
  .ui.secondary.pointing.menu .active.item:hover {
    width: 30% !important;
    margin: 0 auto !important;
  }
}
